### Carregar arquivo Excel com a base de dados

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("dados_apartamentos.xlsx")
df.head()

,id,valor_total,unit,area_util,quartos,vagas,condominio,suites,banheiros,piscina,...,qtd_dados_bairro,media_idh,media_gini,expectativa_vida,renda_percapita,estacao_prox,linha_prox,dist,lat,lon
0,526,189900,5934.38,32,2,1,180,0,1,0.0,...,36.0,0.697182,0.410909,72.751818,559.668182,SÃO MATEUS,PRATA,6822.823684,-23.583879,-46.417548
1,734,221110,5142.09,43,2,1,250,0,1,0.0,...,36.0,0.697182,0.410909,72.751818,559.668182,CORINTHIANS-ITAQUERA,VERMELHA,4682.709841,-23.543535,-46.425492
2,738,219990,5116.05,43,1,1,300,0,1,1.0,...,36.0,0.697182,0.410909,72.751818,559.668182,CORINTHIANS-ITAQUERA,VERMELHA,4579.311123,-23.537339,-46.426823
3,753,219990,5116.05,43,2,1,300,0,1,1.0,...,36.0,0.697182,0.410909,72.751818,559.668182,CORINTHIANS-ITAQUERA,VERMELHA,4579.311123,-23.537339,-46.426823
4,924,220000,5365.85,41,2,1,300,0,1,1.0,...,36.0,0.697182,0.410909,72.751818,559.668182,CORINTHIANS-ITAQUERA,VERMELHA,3313.918703,-23.557799,-46.443523

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2499 non-null   object
 1   valor_total       2498 non-null   object
 2   unit              2499 non-null   object
 3   area_util         2499 non-null   object
 4   quartos           2499 non-null   int64
 5   vagas             2499 non-null   int64
 6   condominio        2264 non-null   object
 7   suites            2499 non-null   int64
 8   banheiros         2496 non-null   object
 9   piscina           2498 non-null   float64
 10  academia          2498 non-null   object
 11  quadra            2499 non-null   int64
 12  endereco          2499 non-null   object
 13  link              2498 non-null   object
 14  bairro            2499 non-null   object
 15  media_bairro      2492 non-null   float64
 16  qtd_dados_bairro  2492 non-null   float64
 17  media_idh         2497 non-null   float64
 18  media_gini        2499 non-null   float64
 19  expectativa_vida  2499 non-null   float64
 20  renda_percapita   2499 non-null   float64
 21  estacao_prox      2499 non-null   object
 22  linha_prox        2499 non-null   object
 23  dist              2499 non-null   float64
 24  lat               2499 non-null   float64
 25  lon               2499 non-null   float64
dtypes: float64(10), int64(4), object(12)
memory usage: 507.7+ KB

In [7]:
df = df.dropna()

### Definicao de valores numericos para as colunas tipo objeto

In [10]:
for column in df.columns:
    if df[column].dtype == "object":
        try:
            df[column] = pd.to_numeric(df[column], errors = 'raise')
        except ValueError:
            print(f"Coluna {column} nao pode ser convertida para numerica")

Coluna id nao pode ser convertida para numerica
Coluna valor_total nao pode ser convertida para numerica
Coluna unit nao pode ser convertida para numerica
Coluna area_util nao pode ser convertida para numerica
Coluna condominio nao pode ser convertida para numerica
Coluna banheiros nao pode ser convertida para numerica
Coluna academia nao pode ser convertida para numerica
Coluna endereco nao pode ser convertida para numerica
Coluna link nao pode ser convertida para numerica
Coluna bairro nao pode ser convertida para numerica
Coluna estacao_prox nao pode ser convertida para numerica
Coluna linha_prox nao pode ser convertida para numerica

### Substituicao dos valores nao numericos para Nan e o tipo de coluna para Float

In [12]:
colunasFloat = ["valor_total","unit","area_util","condominio"]
df[colunasFloat] = df[colunasFloat].apply(pd.to_numeric, errors = "coerce").astype("float")
# errors = "coerce", os valores náo numericos nas colunas especificadas serao substituidos por NAN

### Substituicao dos valores nao numericos para NAN e tipo de coluna para int

In [14]:
colunasInt = ["id", "banheiros", "academia", "piscina"]
df[colunasInt] = df[colunasInt].apply(pd.to_numeric, errors = "coerce").astype("Int64")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2248 entries, 0 to 2498
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2246 non-null   Int64
 1   valor_total       2247 non-null   float64
 2   unit              2246 non-null   float64
 3   area_util         2245 non-null   float64
 4   quartos           2248 non-null   int64
 5   vagas             2248 non-null   int64
 6   condominio        2247 non-null   float64
 7   suites            2248 non-null   int64
 8   banheiros         2246 non-null   Int64
 9   piscina           2248 non-null   Int64
 10  academia          2247 non-null   Int64
 11  quadra            2248 non-null   int64
 12  endereco          2248 non-null   object
 13  link              2248 non-null   object
 14  bairro            2248 non-null   object
 15  media_bairro      2248 non-null   float64
 16  qtd_dados_bairro  2248 non-null   float64
 17  media_idh         2248 non-null   float64
 18  media_gini        2248 non-null   float64
 19  expectativa_vida  2248 non-null   float64
 20  renda_percapita   2248 non-null   float64
 21  estacao_prox      2248 non-null   object
 22  linha_prox        2248 non-null   object
 23  dist              2248 non-null   float64
 24  lat               2248 non-null   float64
 25  lon               2248 non-null   float64
dtypes: Int64(4), float64(13), int64(4), object(5)
memory usage: 483.0+ KB

In [15]:
df.to_excel("dados_apartamentos_limpos.xlsx")